build --deleted_packages=examples/elm-binary,examples/elm-binary/nix-toolchains,examples/elm-proto,examples/elm-proto/foo,examples/elm-proto/toolchains,examples/elm-test,examples/elm-test/nix-toolchains,examples/elm-todomvc,examples/elm-todomvc/nix-toolchains
query --deleted_packages=examples/elm-binary,examples/elm-binary/nix-toolchains,examples/elm-proto,examples/elm-proto/foo,examples/elm-proto/toolchains,examples/elm-test,examples/elm-test/nix-toolchains,examples/elm-todomvc,examples/elm-todomvc/nix-toolchains

common --@protobuf//bazel/toolchains:prefer_prebuilt_protoc
common --module_mirrors=https://bcr.cloudflaremirrors.com

build:ci --test_output=all
build:ci --disk_cache=~/.bazel-disk-cache
# keep dependencies consistent
build:ci --check_direct_dependencies=error
