build --host_platform=@rules_nixpkgs_core//platforms:host
common --enable_bzlmod
# common --protocopt="--elm_opt=json"
# to use nixpkgs provided protoc bin
common --incompatible_enable_proto_toolchain_resolution
# getting rid of [...]execroot/_main/bazel-out/k8-fastbuild/bin/elm_book_proto_elm_proto_compile is a dangling symbolic link
# common --noincompatible_sandbox_hermetic_tmp

