common --module_mirrors=https://bcr.cloudflaremirrors.com
common --host_platform=@rules_nixpkgs_core//platforms:host
build --@protobuf//bazel/toolchains:prefer_prebuilt_protoc
# common --protocopt="--elm_opt=json"
# getting rid of [...]execroot/_main/bazel-out/k8-fastbuild/bin/elm_book_proto_elm_proto_compile is a dangling symbolic link
# common --noincompatible_sandbox_hermetic_tmp