build --host_platform=@rules_nixpkgs_core//platforms:host
build --experimental_isolated_extension_usages
build --enable_bzlmod
# build --incompatible_strict_action_env
# build --incompatible_merge_fixed_and_default_shell_env

