name: Continuous integration
on: [push, pull_request]
env:
  # Bump this number to invalidate the GH actions cache
  cache-version: 0

jobs:
  integration-tests:
    name: Run integration tests
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Mount Bazel cache
        uses: actions/cache@v2
        with:
          path: ~/repo-cache
          key: repo-cache-${{ runner.os }}-nixpkgs-${{ env.cache-version }}
      - uses: cachix/install-nix-action@v12
        with:
          nix_path: nixpkgs=./examples/nixpkgs.nix
      - name: Integration tests
        run: |
          cd examples
          nix-shell --pure --run 'bazel test :integration_tests --test_output=all'
